@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');
*{
font-family: 'Fira Sans', sans-serif;
}
body{
background:radial-gradient( #02111c, #071b2e);
background: url(assets/splash.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.mobile-mov{
display: none !important;
}
.header{
display: flex;
width:100%;
justify-content: center;
}
.header .header-inner{
display: flex;
padding:40px;
width:100%;
max-width: 1040px;
}
.header .header-inner > div{
width:50%;
}
.header .header-inner div:first-child img{
height: 65px;
}

.header .header-inner h1{
    position: relative;
    left: -15rem;
    top: -2rem;
    color: #39FF14;
    }

    .header .header-inner  h1 span{
        color: #39FF14;
        }

.header .header-inner div:last-child{
text-align: right;
}
.header div:last-child .btn-wrapper{
position: relative;
top:-6px;
}
@media screen and (max-width:900px){
.mobile-mov{
display: inline-block !important;
color:white;
float:right;
position: relative;
top:-3px;
}
.header .header-inner{
display: block;
padding:20px;
 background: linear-gradient(to top,#091e2f,#29445c);
}
.header .header-inner > div{
width:100%;
}
.header .header-inner div:first-child img{
height: 9px;
}
.header .header-inner div:last-child{
display: none;
}
}
.btn-yel{
padding:3px 30px;
font-weight: bold;
border:0;
border-radius: 5px;
    background: linear-gradient( 
357deg,#168900,#39FF14);
font-size: 1.2em;
}
.btn-red{
padding:3px 30px;
font-weight: bold;
border:0;
border-radius: 5px;
    background: linear-gradient( 
357deg,#168900,#39FF14);
font-size: 1.2em;
color:#000000;
}
.btn-wrapper{
width:fit-content;
display: inline-block;
    height: auto;
    padding: 4px;
    border-radius: 7px;
    background: linear-gradient( 
355deg, #168900,#39FF14);
}
.btn-wrapper-red{
width:fit-content;
display: inline-block;
    height: auto;
    padding: 4px;
    border-radius: 7px;
    background: linear-gradient( 
355deg,  #168900,#39FF14);
}
@media screen and (max-width:900px){
.btn-yel{

padding:3px 20px;
font-size: 0.8em;
}
.btn-red{
padding:3px 20px;
font-size: 0.8em;
}
}
.body-wrapper{
padding: 0px 40px;
max-width: 1040px;
}
.navi {
    width: 100%;
    background: linear-gradient(to top,#091e2f,#29445c);
    display: flex;
    border-radius: 8px;
    padding: 0px 10px;
    font-weight: 500;
    align-items: center;
}

.navi > div {
width:50%;
}
.navi div:first-child {
display: flex;
}
.navi div > a div{
padding: 10px 10px;
color:white;

}
.navi div > a img{
width:25px;
margin-right: 25px;

}
.navi div:last-child{
display: flex;
margin-left 15px;
justify-content: flex-end;

}
.navi div:last-child{
 text-align: right;
}
.navi div > a{
text-decoration: none;
}
@media screen and (max-width:900px){
.body-wrapper{
padding: 0px 20px;
}
.navi {
    width: calc(100% - 40px);
    background: linear-gradient(to top,#091e2f,#29445c);
    display: block;
    border-radius: 8px;
    padding: 10px 10px;
    font-weight: 500;
    align-items: center;
    position: fixed;
    left:20px;
    display: none;
    box-shadow: 0 0  3px 7px rgba(0,0,0,0.2);
    
}
.navi > div {
width:100%;
}
.navi div:first-child {
display: block;
}
.navi div > a div{
padding: 10px 10px;
color:white;

}
.navi div > a img{
width:25px;
margin-right: 25px;

}
.navi div:last-child{
 text-align: left;
}
.navi div > a{
text-decoration: none;
}
}
.hero-top{
width:100%;
padding: 50px 0;
display: flex;
align-items: center;
}
.hero-top > div:first-child{
width:60%;
}.hero-top > div:last-child{
width:40%;
}
.hero-text{
font-size: 2.2em;
color:white;
}
.hero-text span{
color:#cbab43;
}
@media screen and (max-width:900px){
.hero-top{
width:100%;
padding: 20px 0;
display: flex;
align-items: center;
flex-wrap: wrap;
}
.hero-top > div:first-child{
width:100%;
}.hero-top > div:last-child{
width:100%;
}
.hero-top > div:last-child img{
width:100%;
margin-top: 10px;
}
.hero-text{
font-size: 1.7em;
color:white;
}
.hero-text span{
color:#cbab43;
}
}
.info-part{
color:#e53e3e;
text-transform: uppercase;
text-align: center;
font-size: 1.3em;
padding: 10px;
}
.info-part span{
color:#ecd85b;
}
.box{
width:100%;
display: flex;
background: #03131d;
border-radius: 10px;
align-items: center;
}
.box > div{
width:50%;
padding: 15px;
}
.inpp{
color:white;
font-size: 1.1em;
display: flex;
align-items: center;
margin-bottom: 10px;
}
@media screen and (max-width:900px){
.info-part{
color:#e53e3e;
text-transform: uppercase;
text-align: center;
font-size: 1em;
padding: 10px;
}
.box{
width:100%;
display: flex;
background: #03131d;
border-radius: 10px;
align-items: center;
flex-wrap: wrap;
}
.box > div{
width:100%;
padding: 15px;
}
.inpp{
color:white;
font-size: 1em;
}
}
.community{
width: 100%;
padding: 15px;
border:1px solid #b08fec;
margin-top: 70px;
display: flex;
align-items: center;
background: #061a2b;
border-radius: 4px;
}
.community > div{
width: 50%;
}
.community > div:last-child{
justify-content: center;
display: flex;
grid-column-gap: 40px;
}
@media screen and (max-width:900px){
.community{
width: 100%;
padding: 15px;
border:1px solid #b08fec;
margin-top: 70px;
display: flex;
align-items: center;
background: #061a2b;
flex-wrap: wrap;
}
.community > div{
width: 100%;
}
.community > div:last-child{
justify-content: center;
display: flex;
grid-column-gap: 40px;
margin-top: 50px;
}
}
.footer{
display: flex;
align-items: center;
padding: 50px 0 20px 0;
margin-top: 120px;
}
.footer div img{
height: 34px;
}
.footer div{
width:50%;
}.footer div:last-child{
text-align: right;
color:#6d8198;
}
@media screen and (max-width:900px){
.footer div img{
height: 8px;
}
.footer div:last-child{
text-align: right;
font-size: 0.6em;
}
}
.welcome{
padding: 50px 0px;
}
.yellow-text{
margin-top: 10px;
color:#F6E05E;
}
.red-text{
margin-top: 10px;
color:#E53E3E;
}
.white-text{
color:#ecf2f8;
margin-top: 10px;
}
.white-text span{
color:#F6E05E;
}
.nodes-reward{
display: grid;
grid-column: 2;
grid-column-gap: 40px;
grid-template-columns: auto auto;
}
.nodes-reward > div{
}
@media screen and (max-width:900px){
.nodes-reward{
display:block;
grid-column: 1;
grid-column-gap: 0px;
grid-template-columns: auto;
}

}
.nodes-bottom{
width:100%;
padding: 7px;
color:#F6E05E;
background: black;
margin-top: 20px;
}
.nodes-bottom-green{
width:100%;
padding: 7px;
color:#68D391;
background: black;
margin-top: 20px;
}
.border-btn-yel{
padding: 3px 20px;
border: 1px solid #F6E05E;
border-radius: 4px;
background: transparent;
color:#F6E05E;
}
.border-btn-green{
padding: 3px 20px;
border: 1px solid #68D391;
border-radius: 4px;
background: transparent;
color:#68D391;
}

@media screen and (max-width:900px){
    .border-btn-yel, .border-btn-green{
    float: none !important;
    top:0 !important;
    width:100%;
    margin-top: 10px;
    }
}
.table-des{
margin-top: 60px;
margin-bottom: 60px;
border-radius: 5px;
overflow: hidden;
}
.table-des table{
width:100%;
border:0;
background: #092036;
padding-bottom: 15px;
}
.table-des table thead{
background: #092036;
border-bottom: 2px solid #04131e;
}
.table-des table thead tr td{
padding: 20px;
}
.table-des table thead tr td:first-child{
color:#F6E05E;
width:100%;
}
.table-des table tbody tr td{
padding: 13px 20px;
color:#E2E8F0;
}
.table-des table tbody tr td:first-child{
width:100%;
}
.table-des table tbody tr td:first-child span{
font-weight: 100;
margin-right: 20px;
}
.darker{
background: #081c2f;
}
.create-node{
width: 100%;
padding: 15px;
border:1px solid #474c30;
margin-top: 70px;
display: flex;
background: #061a2b;
grid-column-gap: 40px;
border-radius: 4px;
}
.create-node > div{
width: 50%;
}
@media screen and (max-width:900px){
.create-node{
width: 100%;
padding: 15px;
border:1px solid #474c30;
margin-top: 50px;
display: block;
background: #061a2b;
grid-column-gap: 0px;
border-radius: 4px;
}
.create-node > div{
width: 100%;
margin-bottom: 15px;
}
}
.input-node{
width:100%;
padding: 6px;
background: #03131D;
border: 1px solid #4A5568;
box-sizing: border-box;
border-radius: 4px;
outline: none !important;
color:white;
}
.features{
width:100%;
display: flex;
grid-column-gap: 20px;
}
.features > div{
width:33.333%;
}
.features  div .headi{
font-size: 1.4em;
color:#cbab43;
  margin-top: 20px;
}
.features  div div:last-child{
color:#fff7e2;
margin-top: 5px;
font-weight: 300;
}
.features-show{
width:100%;
display: flex;
grid-column-gap: 20px;
}
.features-show > div{
width:50%;
border-radius: 10px;
background: rgba(0,0,0,0.3);
padding: 20px;
margin-bottom: 15px;
}
.features-show  div .headi{
font-size: 1.4em;
color:#cbab43;
    margin-top: 20px;
}
.features-show  div div{
color:#fff7e2;
margin-top: 5px;
font-weight: 300;
}
.features-show  div div span{
color:#cbab43;
font-weight: 400;
}
@media screen and (max-width:900px){
.features,.features-show{
width:100%;
display: block;
grid-column-gap: 0px;
padding: 10px;
}
.features > div,.features-show > div{
width:100%;
}
}
.vision{
color:white;
padding: 10px;
    margin-bottom: 20px;
}
.vision  div span{
color:#cbab43;
font-weight: bold;
}